.search-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  height: 100%;
  padding-top: 8rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-container label {
  color: whitesmoke;
}

.input {
  color: lightslategray;
  font-size: 1.8rem;
  padding: 0.6rem;
  text-align: center;
}

.input:focus {
  outline: none;
}
